@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "My Profile";
}

<table>
    <tr>
        <td><strong>Name: </strong></td>
        <td id="nameCell"></td>
    </tr>
</table>



