@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var loginUrl = Configuration["ApiSettings:LoginUrl"];
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="container mt-4">
        <h4>Add New Skil lLevel</h4>
        <div class="mb-3">
            <label for="SkillLevelName" class="form-label">Skill Level Name*</label>
            <input type="text" id="SkillLevelName" class="form-control" required />
        </div>
        <button class="btn btn-success btn-sm" onclick="addSkillLevel()">Submit</button>
        <a href="/SkillLevel" class="btn btn-sm btn-primary">Back To List</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    const baseUrl = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(loginUrl));
    function addSkillLevel() {
       debugger;
      var skillLevelNameCheck = $("#SkillLevelName").val();
      if (!skillLevelNameCheck) {
        alert("Skill Level Name is required !");
        return;
       }

        var userCode = localStorage.getItem("userCode");

        const SkillLevel = {
            name: $("#SkillLevelName").val(),
            dateAdded: new Date().toISOString(),
            addedBy: userCode, // Replace with actual logged-in user ID
            isActive: true
        };

        $.ajax({
            url: `${baseUrl}api/SkillLevel/Add`,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(SkillLevel),
            success: function (response) {
                alert("SkillLevel created successfully!");
                location.reload(); // Refresh list if needed
            },
            error: function (xhr) {
                console.error(xhr);
                alert("Error creating SkillLevel");
            }
        });
    }
</script>