<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPYTST.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EPYTST.WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      @*   <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EPYTST.WEB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Skill" asp-action="Index">Skill</a>
                        </li>
                    </ul>

                    <div><h3 id="userNameId"></h3></div>
                    <div><input type="button" onclick="logOut()" class="btn btn-primary btn-sm" value="Log Out" /></div>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - EPYTST.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script>
        $(document).ready(function () {
             localStorage.clear();
            // debugger;
             var userName = localStorage.getItem("userName");
                 $("#userNameId").text(userName);
            var userJson = '@Html.Raw(ViewBag.User ?? "null")';
            if (userJson && userJson.trim() !== "") {
                var user = JSON.parse(userJson);
                if(user!=null){
                      localStorage.setItem("loggedInUser", JSON.stringify(user));
                      localStorage.setItem("userCode", user.UserCode);
                      localStorage.setItem("userName", user.Name);
                }
                var userName = localStorage.getItem("userName");
                 $("#userNameId").text(userName);

                console.log("User stored in LocalStorage:", user);
            }
        });

           var logOut = function() {
            debugger;
            localStorage.clear();
            window.location.href = '/Home/index';
        }
    </script>
</body>
</html>
